/* Style for the success message container */
.stars{
    color: rgb(225, 225, 142);
    font-size:24px;
}


.success-message{
    display: none;
    color: green;
    font-size: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999; /* Ensure the message appears above other content */
}


    .review-form 
    {
        max-width: 1000px;
        margin: 40px auto 20px;
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .review-form h2 
    {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .review-form form 
    {
        display: flex;
        flex-direction: column;
    }
    
    .review-form .form-group 
    {
        margin-bottom: 15px;
    }
    
    .review-form label 
    {
        font-weight: bold;
    }
    
    .review-form input[type="text"],
    .review-form select,
    .review-form textarea 
    {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    .review-form textarea 
    {
        height: 100px;
    }

    .rating-options  
    {
        margin-top: 10px;
    }

    .rating-options label 
    {
        display: block;
    }

    
    .review-form button[type="submit"] 
    {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    .review-form button[type="submit"]:hover 
    {
        background-color: #45a049;
    }
    
    /*  for the container displaying reviews */
    .reviews {
        max-width: 1000px;
        margin: 30px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto; /* Add scrollbar for overflow */
        max-height: 300px; /* Set max height for scrollbar */
    }
    
    .reviews h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .review {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .review p {
        margin: 0;
    }

    .modal{
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.4);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 30px;
border: none;
width: 60%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
text-align: center;
color: green; 
font-size: 18px;
}

.modal-content p {
color: green; 
font-size: 18px;
}


.close  {
color: #aaa;
float: right;
font-size: 20px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
}
